
.swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #444; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 60px;
    @media (max-width: 768px) {
      margin-top: 24px;
    }
  }

  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FFD935;
    opacity: 1;
  }
  
  /* target all bullets */
  .swiper-pagination-bullet {
    background-color: #808080;
    opacity: 1;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: -0px !important;
  margin: 0 !important;
  top: auto !important;
  /* top: auto !important; */
  color: #ffffff !important;
  height: 25px !important;
  width: 25px !important;
  /* background-color: #ff2626 !important; */
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 1000 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: 900 !important;
  /* text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; */
  font-size: 15px !important;
  /* stroke-width: 20px !important; */
}


.swiper-button-prev {
  left: 42% !important;
}

.swiper-button-next {
  right: 42% !important;
}

@media (max-width: 768px) {
  .swiper-button-prev {
    left: 25% !important;
  }
  
  .swiper-button-next {
    right: 25% !important;
  }
}



.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 100px auto 0; */
    gap: 20px;
    font-family: var(--ff_2);
    font-size: 18px;
    .nums {
       display: flex;
       justify-content: center;
       gap: 10px;
       li {
          cursor: pointer;
       }
    }
    li:not(.current) {
       color: #fff;
    }
    .active span {
       color: #FFD935;
       border-bottom: 1px solid #FFD935;
    }
    button {
       background: #FFD935;
       border-radius: 3px;
       border-top-left-radius: 10px;
       border-bottom-right-radius: 10px;
       font-size: 15px;
       text-transform: uppercase;
       font-weight: 700;
       color: #000;
       padding: 6px 12px;
       cursor: pointer;
       &:hover {
          background: #000;
          color: #FFD935;
       }
    }
 }