/* TWK Everett - Heading Font */
@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* TWK Everett Mono - Monospace Font */
@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Neue Haas Unica Pro - Body Font */
@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('./assets/fonts/NeueHaasUnicaPro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

