@layer reset, base, tokens, recipes, utilities;

/* Font face declarations for TWK Everett */
@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Hairline.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-HairlineItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-ThinItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Ultralight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-UltralightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-LightItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-RegularItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-MediumItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-ExtraboldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Super.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-SuperItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-Black.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('./assets/fonts/TWKEverett-BlackItalic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

/* Font face declarations for TWK Everett Mono */
@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Hairline.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-HairlineItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-ThinItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Ultralight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-UltralightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-LightItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-RegularItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-MediumItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-ExtraboldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Super.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-SuperItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-Black.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('./assets/fonts/TWKEverettMono-BlackItalic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

/* Font face declarations for Neue Haas Unica Pro */
@font-face {
  font-family:"neue-haas-unica";
  src:url("https://use.typekit.net/af/4a8091/00000000000000007735bb02/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/4a8091/00000000000000007735bb02/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/4a8091/00000000000000007735bb02/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-unica";
  src:url("https://use.typekit.net/af/762099/00000000000000007735bb04/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/762099/00000000000000007735bb04/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/762099/00000000000000007735bb04/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:800;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-unica";
  src:url("https://use.typekit.net/af/98fb6b/00000000000000007735bb14/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/98fb6b/00000000000000007735bb14/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/98fb6b/00000000000000007735bb14/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-unica";
  src:url("https://use.typekit.net/af/900894/00000000000000007735bb17/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/900894/00000000000000007735bb17/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/900894/00000000000000007735bb17/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-unica";
  src:url("https://use.typekit.net/af/81e838/00000000000000007735bb1b/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/81e838/00000000000000007735bb1b/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/81e838/00000000000000007735bb1b/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
  }
  
  @font-face {
  font-family:"neue-haas-unica";
  src:url("https://use.typekit.net/af/404934/00000000000000007735bb2a/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/404934/00000000000000007735bb2a/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/404934/00000000000000007735bb2a/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }
  

:root {
  /* Define CSS custom properties for your fonts */
  --font-neue-haas-unica-pro: 'neue-haas-unica', sans-serif;
  --font-twk-everett: 'TWK Everett', sans-serif;
  --font-twk-everett-mono: 'TWK Everett Mono', monospace;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color:aliceblue;
  /* Remove default browser styles */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
